.AllProjectsPage > .container2 > h2{
  margin-top: 2em;
  padding: 0.5em 0;
}

.AllProjectsPage > .container2 > p{
    margin: 1em 0;
    color: whites;
     text-align: justify;
  
}

.AllProjectsPage > .container2 > p > a{
    color: white;
   
}

.AllProjectsPage .container2 .allProjects{
    display: flex;
    flex-direction: column;
    gap: 8em;
    margin: 4em 0;
  
}
button {
    padding: 0.5em 1em;
    background: none;
    color: white;
    border: 1px solid var(--cor-principal);
    border-radius: 0.5em;
    margin-top: 1em;
    font-family:  "Ubuntu", sans-serif;
    font-size: 1em;
   
    width: fit-content;
 
}
button:hover {
    background-color: var(--cor-principal);
}
